{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template dell'articolo{% endblock %}

{% block content %}
    <center>
	    <h1>{{ page.title }}</h1>

	    {% if page.copertina != None%}
	    	{% image page.copertina max-1200x720%}
    	    {% endif %}
    </center>
    <p>scritto per {{page.autore}} nel {{page.data}}</p>

    <div class="intro">{{ page.descrizione|richtext  }}</div>

    <p> {{ page.testo|richtext }}<p>


{% endblock %}
