{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog_home_page.css' %}">
{% endblock %}
{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1> {{ page.title }} </h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <div id='lgDemo'>
    {% for articolo in articoli %}
	<a href="{% pageurl articolo %}">
    		<div class="item" >
			<h2>{{articolo.title}}</h2>
        			{{ articolo.specific.descrizione|richtext }}
		</div>
	</a>
    {% endfor %}
    </div>

    {% if articoli.paginator.num_pages > 1 %}
    	{% if articoli.has_previous %}
		<a href="?page={{ articoli.previous_page_number }}">
		 <span>Previus</span>
                </a>
	{% endif %}

	{% if articoli.has_next %}
		<div align="right">
			<a href="?page={{ articoli.next_page_number }}">Next</a>
		</div>
	{% endif %}
    {% endif %}
{% endblock %}
